/*header style*/
body
{
 background-image: url("../images/mainback.png");
 background-attachment: fixed;
 background-size: cover;
 background-position: center;
}

.overlay
{
 position: absolute;
 min-height: 100%;
 min-width: 100%;
 left: 0;
 top: 0;
 background: rgba(244, 244, 244, 0.79);
}

.description
{
    position: absolute;
    top: 15%;
    margin: auto;
    padding: 2em;
}

.description h1
{
 color:#F97300 ;
}

.description p
{
 color:#666;
 font-size: 20px;
 width: 50%;
 line-height: 1.5;
}

.description button
{
 border:1px  solid #F97300;
 background:#F97300;
 color:#fff;
}

.navbar{ background:#F97300;}
.nav-link , .navbar-brand{ color: #f4f4f4; cursor: pointer;}
.nav-link{ margin-right: 1em !important;}
.nav-link:hover{ background: #f4f4f4; color: #f97300; }
.navbar-collapse{ justify-content: flex-end;}
.navbar-toggler{  background:#fff !important;}

.surveybox
{
 margin: 4em 0;
 position: relative;
 top: 175px;
}
.surveybox h1{
 color:#F97300;
 margin: 2em;
}
.surveybox .item{
 position: relative;
}
.surveybox .des{
 background: #F97300;
 color: #fff;
 text-align: center;
 transition:.3s ease-in-out;
}
.surveybox .item:hover .des{
 height: 100%;
 background:#f973007d;
 position: absolute;
 width: 89%;
 padding: 5em;
 top: 0;
 border-bottom-left-radius: 0;
}

.formbkg
{
  background: #F97300;
  color: #fff;
}
